<section id="aboutCorona">
    <h1>What is COVID-19?</h1>
    <div class="about container">
      <div class="row">
        <div class="left col-sm col-lg-6">
          <img class="about-img" src="/images/AboutCorona.png" alt="aboutCorona">
            <img class="about-img" src="/images/AboutCorona2.png" alt="aboutCorona">

        </div>
        <div class="right col-sm col-lg-6">
          <p><span style="font-size:2rem;color:#ff7f50">COVID-19 </span>is the infectious disease caused by the most recently discovered coronavirus. This new virus and disease were unknown before the outbreak began in <span style="text-decoration:underline">Wuhan, China, in December 2019</span>. COVID-19 is now a pandemic affecting many countries globally.</p>
          <p>Coronaviruses (CoV) are a large family of viruses that cause illness ranging from the common cold to more severe diseases such as <a href="https://www.who.int/news-room/fact-sheets/detail/middle-east-respiratory-syndrome-coronavirus-(mers-cov)">Middle East Respiratory Syndrome (MERS-CoV)</a> and <a href="https://www.who.int/ith/diseases/sars/en/">Severe Acute Respiratory Syndrome (SARS-CoV)</a>. A novel coronavirus (nCoV) is a new strain that has not been previously identified in humans.
      Coronaviruses are zoonotic, meaning they are transmitted between animals and people. Detailed investigations found that SARS-CoV was transmitted from civet cats to humans and MERS-CoV from dromedary camels to humans. Several known coronaviruses are circulating in animals that have not yet infected humans.</p>


          </div>
        </div>
    </div>

</section>


<hr>
<!-- **********************************************************Symptoms Section******************************************************  -->
<section id="symptoms">
  <div class="symptoms-inner">
    <h1>Symptoms of COVID-19</h1>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <a href="https://www.healthline.com/health/types-of-coughs"><img class="imghvr-slide-down" src="/images/cough.png"></a>
          <figcaption>Dry Cough</figcaption>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="https://www.healthline.com/health/fever"><img src="/images/fever.png"></a>
          <figcaption>Fever</figcaption>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="https://www.healthline.com/health/nasal-congestion"><img src="/images/runnyNose.png"></a>
          <figcaption>Runny Nose</figcaption>
        </div>
      </div>
      <div class="second row">
        <div class="col-lg-4 col-md-4">
          <a href="https://www.healthline.com/health/body-aches"><img src="/images/bodyPain.png"></a>
          <figcaption>Body Aches</figcaption>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="https://www.healthline.com/health/fatigue"><img src="/images/tired.png"></a>
          <figcaption>Fatigue</figcaption>
        </div>
        <div class="col-lg-4 col-md-4">
          <a href="https://www.healthline.com/health/breathing-difficulties"><img src="/images/breath.png"></a>
          <figcaption>Short Breath</figcaption>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>
<!-- **********************************************************Preventions Section******************************************************  -->
<section id="preventions">
  <h1>Preventions</h1>
  <div class="container">
    <div class="row pre">
      <div class="col-lg-4 col-md-4">
        <img src="/images/hands.png" style="width:150px;height:150px">
      </div>
      <div class="col-lg-4 col-md-4">
        <hr style="border-top: 3px dotted grey;width:10%;margin-top:45px">
      </div>
      <div class="col-lg-4 col-md-4">
        <p style="text-align:center;padding-top:30px;">Clean your hands often. Use soap and water, or an alcohol-based hand rub.</p>
      </div>
      </div>

    <div class="row pre">
      <div class="col-lg-4 col-md-4">
        <img src="/images/distancing.png" style="width:150px;height:150px">
      </div>
      <div class="col-lg-4 col-md-4">
        <hr style="border-top: 3px dotted grey;width:10%; margin-top:45px">
      </div>
      <div class="col-lg-4 col-md-4">
        <p style="text-align:center;padding-top:30px">Maintain a safe distance from anyone who is coughing or sneezing.</p>
      </div>
    </div>

      <div class="row pre">
        <div class="col-lg-4 col-md-4">
        <img src="/images/mask.png" style="width:150px;height:150px">
        </div>
        <div class="col-lg-4 col-md-4">
          <hr style="border-top: 3px dotted grey;width:10%; margin-top:45px">
        </div>
        <div class="col-lg-4 col-md-4">
          <p style="text-align:center;padding-top:30px">Wear a mask when physical distancing is not possible.</p>
        </div>
      </div>


    <div class="row pre">
      <div class="col-lg-4 col-md-4">
        <img src="/images/stay-home.png" style="width:150px;height:150px">
      </div>
      <div class="col-lg-4 col-md-4">
        <hr style="border-top: 3px dotted grey;width:10%; margin-top:45px">
      </div>
      <div class="col-lg-4 col-md-4">
        <p style="text-align:center;padding-top:30px">Stay home if you feel unwell.</p>
      </div>
    </div>

      <div class="row pre">
        <div class="col-lg-4 col-md-4">
          <img src="/images/doctor.png" style="width:150px;height:150px">
        </div>
        <div class="col-lg-4 col-md-4">
          <hr style="border-top: 3px dotted grey;width:10%; margin-top:45px">
        </div>
        <div class="col-lg-4 col-md-4">
          <p style="text-align:center;padding-top:30px">If you have a fever, cough and difficulty breathing, seek medical attention.</p>
        </div>
      </div>

</section>

<hr>

<!-- **************************************************Contact Us*************************************************** -->
<section id="contact">
  <h1>Contact Us</h1>
  <form id="form" action="/" method="post">
  <div class="form-group">
    <div class="form-group">
      <label for="fname">First Name</label>
      <input type="text" class="form-control" name="fname" required>
    </div>
    <div class="form-group">
      <label for="lname">Last Name</label>
      <input type="text" class="form-control" name="lname" required>
    </div>
    <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="contact">Contact No</label>
    <input type="number" class="form-control" name="contact">
  </div>
  <div class="form-group">
   <label for="message">Message</label>
   <textarea class="form-control" name="message" rows="3"></textarea>
 </div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
</section>

<hr>


<section class="footer">
  <footer>Copyright © <script>document.write(new Date().getFullYear())</script> Chhavi Jangid ❤</footer>
</section>














<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("form").submit(function(){
    alert("Thankyou for your response. We will contact you shortly!");
  });
});
</script>
<script>
  const searchFun = (e) =>{
          var filter = e.target.value.toUpperCase();
          let myTable = document.getElementById(e.target.className);

          let tr = myTable.getElementsByTagName('tr');

          for (var i=0;i<tr.length ;i++){
            let td = tr[i].getElementsByTagName('td')[0];

            if(td){
              let textvalue = td.textContent || td.innerHTML;

              if(textvalue.toUpperCase().indexOf(filter) > -1){
                tr[i].style.display = "";

              }else{
                tr[i].style.display = "none";
              }
            }
          }
        }

  const scrollBtn=document.getElementById("scrollBtn");
  scrollBtn.addEventListener("click",()=>{
    window.scrollTo({
      top:0,
      left:0,
      behaviour:"smooth"
    });
  });

</script>

</body>
</html>
