<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Corona Updates</title>
    <link rel="icon" href="/icon/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <script src="https://kit.fontawesome.com/dde3d55554.js" crossorigin="anonymous"></script>
  <body>
    <button id="scrollBtn" type="button" name="button"><i class="fas fa-chevron-up"></i></button>


    <nav class="navbar navbar-expand-xl navbar-light">
  <a class="navbar-brand" href="/">COVID-19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 list">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#corona-table">World</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/india">India</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/regionwise" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          States
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#_Andhra">Andhra Pradesh</a>
          <a class="dropdown-item" href="#_Arunachal">Arunachal Pradesh</a>
          <a class="dropdown-item" href="#_Assam">Assam</a>
          <a class="dropdown-item" href="#_Bihar">Bihar</a>
          <a class="dropdown-item" href="#_Chhattisgarh">Chhattisgarh</a>
          <a class="dropdown-item" href="#_Goa">Goa</a>
          <a class="dropdown-item" href="#_Gujarat">Gujarat</a>
          <a class="dropdown-item" href="#_Haryana">Haryana</a>
          <a class="dropdown-item" href="#_Himachal">Himachal Pradesh</a>
          <a class="dropdown-item" href="#_Jharkhand">Jharkhand</a>
          <a class="dropdown-item" href="#_Karnataka">Karnataka</a>
          <a class="dropdown-item" href="#_Kerala">Kerala</a>
          <a class="dropdown-item" href="#_Madhya">Madhya Pradesh</a>
          <a class="dropdown-item" href="#_Maharashtra">Maharashtra	</a>
          <a class="dropdown-item" href="#_Manipur">Manipur</a>
          <a class="dropdown-item" href="#_Meghalaya">Meghalaya</a>
          <a class="dropdown-item" href="#_Mizoram">Mizoram</a>
          <a class="dropdown-item" href="#_Nagaland">Nagaland</a>
          <a class="dropdown-item" href="#_Odisha">Odisha</a>
          <a class="dropdown-item" href="#_Punjab">Punjab</a>
          <a class="dropdown-item" href="#_Rajasthan">Rajasthan</a>
          <a class="dropdown-item" href="#_Sikkim">Sikkim</a>
          <a class="dropdown-item" href="#_Tamil">Tamil Nadu</a>
          <a class="dropdown-item" href="#_Telangana">Telangana</a>
          <a class="dropdown-item" href="#_Tripura">Tripura</a>
          <a class="dropdown-item" href="#_Uttar">Uttar Pradesh</a>
          <a class="dropdown-item" href="#_Uttarakhand">Uttarakhand</a>
          <a class="dropdown-item" href="#_West">West Bengal</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/statewise" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Union Territories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#_Andaman">Andaman and Nicobar Islands</a>
          <a class="dropdown-item" href="#_Chandigarh">Chandigarh</a>
          <a class="dropdown-item" href="#_Dadra">Dadra & Nagar Haveli and Daman & Diu</a>
          <a class="dropdown-item" href="#_Delhi">Delhi</a>
          <a class="dropdown-item" href="#_Jammu">Jammu and Kashmir</a>
          <a class="dropdown-item" href="#_Lakshadweep">Lakshadweep</a>
          <a class="dropdown-item" href="#_Puducherry">Puducherry</a>
          <a class="dropdown-item" href="#_Ladakh">Ladakh</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutCorona">About Virus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#symptoms">Symptoms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#preventions">Preventions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
